<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="InetBankingv1">
	<listeners>
	<listener class-name="com.inetbanking.utilities.Reporting">
	</listener>
	</listeners>
	
  <test name="BankingApp test">
  		<parameter name="browser" value="chrome"/>
    <classes>
      <!-- <class name="com.inetbanking.testcases.TC_LoginTest_001"/> -->
      <class name="com.inetbanking.testcases.TC_Logintdd_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
